.section {
  margin-top: 3.9rem;
}

.name {
  font-family: 'Oswald', sans-serif;
  font-size: 6.8rem;
  letter-spacing: 7px;
  font-weight: 700;
}

.main-links {
  margin-top: -1.8rem;
}

.contact-form-email-input {
  margin-top: 2.9rem;
}

.contact-form-textarea {
  height: auto;
  width: 100%;
  max-width: 500px;
}

.message {
  margin-top: 17%;
  text-align: center;
}

@media (max-width: 550px) {
  .name {
    font-size: 5.5rem;
    letter-spacing: 6px;
  }
}

@media (max-width: 460px) {
  .name {
    font-size: 5rem;
    letter-spacing: 6px;
  }
}

@media (max-width: 390px) {
  .name {
    font-size: 4.7rem;
    letter-spacing: 5px;
  }
}

@media (max-width: 360px) {
  .name {
    font-size: 4.5rem;
    letter-spacing: 5px;
  }
}
