.banner {
    display: flex;
    flex-direction: column;
    background-image: url("../images/misty-mountain.jpeg");
    background-position: center center, center top;
    background-size:cover;
    height:100vh;
  }

.banner-top-section {
  display: flex;
  height: 220px;
  line-height: 50px;
  a {
    color: #fff;
  }
  a:hover {
    color: darken($off-white, 20%);
    transition: .2s;
  }
}

.banner-portfolio { margin-left: 25px; }
.banner-github,
.banner-contact {
  margin-left: 15px;
}

.banner-middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  font-family: $banner-font-family;
  color: #fff;

  h1 {
    font-size: 10rem;
    line-height: 10.8rem;
    word-spacing: 0.5rem;
  }
  h2 {
    font-size: 5rem;
    line-height: 5.8rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
  }
}

.banner-bottom-section {
  height: 220px;
  text-align: center;
}
