.banner {
    display: flex;
    flex-direction: column;
    background-image: url("../images/misty-mountain.jpeg");
    background-position: center center, center top;
    background-size:cover;
    height:100vh;
  }

.banner-top-section {
  // border: 1px solid white;
  display: flex;
  height: 220px;
  line-height: 50px;
  font-size: 1.4rem;
  a {
    color: #fff;
  }
  a:hover {
    color: darken($off-white, 20%);
    transition: .2s;
  }
}

.banner-portfolio { margin-left: 25px; }
.banner-github,
.banner-contact {
  margin-left: 15px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.banner-middle-section {
  // border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  font-family: $banner-font-family;
  color: #fff;
  animation: fadein 4s;

  h1 {
    font-size: 7rem;
  }
  h2 {
    margin-top: 47px;
    font-size: 3.6rem;
    letter-spacing: 1px;
  }
}

.banner-bottom-section {
  height: 220px;
  text-align: center;
  // border: 1px solid tomato;
}
