#portfolio {
  margin-top: 2rem;
}

.portfolio-section {
  p {
    a {
      // font-size: 16px; font-size: 1.6rem;
      color: $font-color-soft;
      background-image: linear-gradient(#fff 50%, $font-color-soft 50%);
    }
  }

}

.technology-stack {
  color: #8C8788;
}

.u-behave-like-text {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.home-bottom-hr {
  margin-bottom: 0;
}

.contact-form-textarea {
  height: auto;
  width: 100%;
  max-width: 600px;
}
