hr {
  margin-top: 5.6rem;
  margin-bottom: 5rem;
}

.lauri,
.laaksonen {
  font-family: 'Oswald', sans-serif;
  font-size: 8.5rem;
  letter-spacing: 6px;
  font-weight: 700;
}

.lauri {
  margin-top: 5.6rem;
}

.about-me-intro {
  margin-top: 5rem;
}

.skill-set {
  font-weight: 400;
}

.technology-stack {
  color: $gray-lighter;
}

.home-bottom-hr {
  margin-bottom: 0;
}

.contact-form-input {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.contact-form-textarea {
  height: auto;
  width: 100%;
  max-width: 500px;
}
