footer {
  display: flex;
  justify-content: space-between;
  height: 70px;

  h6 {
    line-height: 70px;
    color: $gray-lighter;
  }
  a {
    line-height: 70px;
    color: $link-color;
  }
}

.footer-right-side {
  display: flex;
}

.footer-contact {
  margin-right: 15px;
}
