@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
$banner-font-family: 'Amatic SC', cursive;

// $primary-color: #002B37;
// $base-font-color: #6A6A6A;
$base-background-color: #fff;
$secondary-color: #8C8788;
