@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
$banner-font-family: 'Amatic SC', cursive;

// $base-font-family: 'Open Sans', sans-serif;

// $primary-color: #002B37;
// $base-font-color: #8C8788;
// $primary-color: #8C8788;

// $base-font-color: #6A6A6A;
$background-color: #fff;
$secondary-color: #8C8788;



p, li {
  line-height: 1.7em;
}
