@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
$banner-font-family: 'Amatic SC', cursive;

// $primary-color: #002B37;
// $base-font-color: #8C8788;
$primary-color: #8C8788;
$secondary-color: #8C8788;
$button-hollow-color: white;
$button-hollow-hover-color: $base-font-color;



p, li {
  line-height: 1.7em;
}
